# Set MYENV (the location of the gitrepo)
export MYENV={{ project }}

# Set LOCAL_BIN - the location where 'user' python binaries are installed
export LOCAL_BIN={{ binaries }}/bin

# Set VIRTUALENVWRAPPER_PYTHON
export VIRTUALENVWRAPPER_PYTHON={{ virtualenv_dir }}/virtualenvwrapper/bin/python
